@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 35px;
}

.clearfix::after {
    content: ' ';
    clear: both;
    display: block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

#navBar {
    position: fixed;
    width: 100%;
    background-color: #d6d6d6;
}

#navBar h2 {
	font: bold 20px Merriweather;
	text-align: center;
	color: #0c408f;
	padding: 10px 20px;
}

.nav-brand {
    width: 70px;
}

h1 {
	font-family: Merriweather, serif;
	color: #0c408f;
	padding-top: 70px;
	padding-left: 20px;
}

.container {
    width: 960px;
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #F5F5F5;
    box-shadow: 0 0 2px;
}

#edit-form {
    width: 600px;
}

.container h2 {
    margin-top: 20px;
    text-align: center;
    font-family: Merriweather, serif;
    color: #0c408f;
    
}

h5 {
    margin: 0 225px;
}

input[name=title] {
    width: 530px;
    margin: 0 225px 20px 225px;
    padding: 5px;
    background-color: #fafafa;
    border: 1px solid grey;
    border-radius: 5px;
}

textarea {
    width: 530px;
    height: 400px;
    margin: 0 225px 5px 225px;
    padding: 5px;
    background-color: #fafafa;
    border: 1px solid grey;
    border-radius: 5px;
    resize: none;
}

button {
    width: 530px;
    margin: 5px 225px;
    padding: 10px 0;
    font: normal 15px Merriweather;
    background-color: #0c408f;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

button:hover {
    background-color: #4665c2;
}

footer {
    width: 100%;
    background-color: #d6d6d6;
    color: #0c408f;
    padding: 10px 12px;
    font: bold 16px Arial;
    position: absolute;
    bottom: 0;
    text-align: center;
}